/* ==========================================================================
   CONFIGARATIONS: 
   ========================================================================== */
/********************************************* FONTS **************************************************/
@font-face {
  font-family: 'GothamBook';
  src: url("../fonts/GothamBook.ttf") format("truetype");
}

@font-face {
  font-family: 'GothamBold';
  src: url("../fonts/GothamBold.ttf") format("truetype");
}

@font-face {
  font-family: 'JosefinSans';
  src: url("../fonts/JosefinSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'JosefinSansBold';
  src: url("../fonts/JosefinSans-Bold.ttf") format("truetype");
}

/********************************************* VARIABLES **************************************************/
/********************************************* FUNCTIONS and MIXINS **************************************************/
/********************************************* RESETS **************************************************/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 18px;
}

body {
  color: #222;
  background-color: #F2F4F3;
  height: 100vh;
  font-family: 'GothamBook', sans-serif;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 42px;
}

h3 {
  font-size: 36px;
}

h4 {
  font-size: 30px;
}

h5 {
  font-size: 24px;
}

h6 {
  font-size: 20px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'JosefinSansBold', sans-serif;
}

/* Remove the gap and the bottom of their containers: */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

img {
  width: 100%;
  border-style: none;
}

a,
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

/* ==========================================================================
   Custom CSS: 
   ========================================================================== */
.theme-dark {
  background-color: #0c0f0e;
  color: #d5d5d5;
}

header {
  min-height: 500px;
  padding: 5rem;
  display: -ms-grid;
  display: grid;
  gap: 3rem;
}

header p {
  margin-top: 1rem;
}

@media screen and (min-width: 1024px) {
  header {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  header img {
    width: 70%;
    height: auto;
  }
}

hr {
  margin: 1rem 1rem 2rem 40%;
  width: 10%;
}

.main {
  padding: 5rem;
  background-color: #E2E8F0;
}

.main-cards {
  display: -ms-grid;
  display: grid;
  gap: 3rem;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: 300px;
}

.main-cards-card {
  border: 2px solid black;
  background-color: #5E503F;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.main-cards-card:hover {
  background-color: aquamarine;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  cursor: pointer;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #A9927D;
}

footer p {
  margin: 1rem;
}
/*# sourceMappingURL=styles.css.map */