
/* ==========================================================================
   CONFIGARATIONS: 
   ========================================================================== */


/********************************************* FONTS **************************************************/
@font-face {
  font-family: 'GothamBook';
  src: url("../fonts/GothamBook.ttf") format("truetype");
}

@font-face {
  font-family: 'GothamBold';
  src: url("../fonts/GothamBold.ttf") format("truetype");
}

@font-face {
  font-family: 'JosefinSans';
  src: url("../fonts/JosefinSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'JosefinSansBold';
  src: url("../fonts/JosefinSans-Bold.ttf") format("truetype");
}

$font-weights: (
  "regular" : 400,
  "medium" : 600,
  "bold" : 800
);

/********************************************* VARIABLES **************************************************/
$primary-color: #050A30;
$secondary-color: #5BA3F8;
$tertiary-color: #5E503F;
$body-color: #F2F4F3;
$effects-color: #A9927D;
$text-color : #222;
$mobile-max : 615px;
$tablet-min : 616px;
$tablet-max : 1023px;
$desktop-min : 1024px;


/********************************************* FUNCTIONS and MIXINS **************************************************/
@function fontWeight($weight-name)
{
    @return map-get($font-weights, $weight-name )
}

@function set-text-color($color) {
  @if (lightness($color) > 50%) {
    @return darken($body-color, 90%);
  } @else {
    @return lighten($text-color, 70%);
  }
}


@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin theme($dark-theme: true) {
    @if $dark-theme {
        background-color: darken($body-color, 90%);
        color: lighten($text-color, 70%);
    }
}

@mixin mobile {
    @media screen and (max-width: $mobile-max ) {
        @content; 
       }
}

@mixin tablet {
    @media screen and (min-width: $tablet-min) and (max-width: $tablet-max) {
        @content;
    }
}

@mixin aboveTablet {
  @media screen and (min-width: $tablet-min) {
      @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop-min) {
      @content;
  }
}

/********************************************* RESETS **************************************************/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 18px;
}

body {
  color: $text-color;
  background-color: $body-color;
  height: 100vh;
  font-family: 'GothamBook', sans-serif;
  // font-weight: fontWeight(bold);
  // @include flexCenter;
  // @include mobile{
  //     flex-direction: column;
      
  // }
}


h1 {
  font-size: 48px;
}

h2 {
  font-size: 42px;
}

h3 {
  font-size: 36px;
}

h4 {
  font-size: 30px;
}

h5 {
  font-size: 24px;
}

h6 {
  font-size: 20px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'JosefinSansBold', sans-serif;
}



/* Remove the gap and the bottom of their containers: */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

img {
  width: 100%;
  border-style: none;
}

a,
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%; 
  margin: 0; 
}



