@import './config';



/* ==========================================================================
   Custom CSS: 
   ========================================================================== */

   .theme-dark {
    @include theme($dark-theme: true)
}

.theme-light {
  @include theme($dark-theme: false)
}

header {
  min-height: 500px;
  padding: 5rem;
  display: grid;
  gap: 3rem;

  p {
    margin-top: 1rem;
  }

  

  @include desktop{
    grid-template-columns: 1fr 1fr;

    img {
      width: 70%;
      height: auto;
    }
  }
}

hr{
  margin: 1rem 1rem 2rem 40%;
  width: 10%;
  
}
.main {
  padding: 5rem;
  background-color: #E2E8F0;

  &-cards {
    display: grid; 
    gap: 3rem; 
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
    grid-auto-rows: 300px; 


  &-card {
  
    background-color: $tertiary-color;
    transition: all 0.5s ease;

    &:hover {
      background-color: grey;
      transform: scale(1.05);
      cursor: pointer;
      box-shadow: 3px 3px 5px 6px #ccc;
    }

    img {
      height: 300px;
      width: 100%;
      border: 1px solid #e4e4e4e1;
      
    }
  }
  }
  
}

footer {
 
  display: flex;
  justify-content: center;
  background-color: $effects-color;

  p {
    margin: 1rem;
  }
}



